<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaveEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<runtime>
		<gcAllowVeryLargeObjects enable="true" />
	</runtime>
 <userSettings>
  <WaveEditor.Properties.Settings>
   <setting name="DispNum" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="CacheNum" serializeAs="String">
    <value>268435456</value>
   </setting>
   <setting name="YAxisName" serializeAs="String">
    <value>Voltage (V)</value>
   </setting>
  </WaveEditor.Properties.Settings>
 </userSettings>
</configuration>